<configuration debug="true">


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <Pattern>[%p] %c - %m%n</Pattern>
        </encoder>
    </appender>


    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
        <queueSize>1000</queueSize>
    </appender>

    <logger name="com.baimurzin" level="DEBUG"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>


</configuration>